<!-- <section class="test">
  <div class="test__wrap wrap">
    <div class="test__title">Hellou World</div>
    <div class="test__button">
      Test BTN
      <svg class="ico-sass">
        <use xlink:href="images/symbol/sprite.svg#svg--sass"></use>
      </svg>
    </div>
  </div>
</section>  -->

<section class="test">
  <div class="test__wrap wrap">
    <div class="test__header">
      Header
    </div>
    <div class="swiper-container test-swiper">
      <div class="swiper-wrapper">
        <!-- Start advanced slider item  -->
        <div class="swiper-slide swiper-slide--one">
          <div class="test__badges">Slide one</div>
          <div class="test__title">Slide one</div>
          <div class="test__button">
            Test BTN
            <svg class="ico-sass">
              <use xlink:href="images/symbol/sprite.svg#svg--sass"></use>
            </svg>
          </div>
        </div>
        <!-- End advanced slider item  -->
        <!-- Start advanced slider item  -->
        <div class="swiper-slide swiper-slide--two">
          <div class="test__badges">Slide two</div>
          <div class="test__title">Slide two</div>
          <div class="test__button">
            Test BTN
            <svg class="ico-sass">
              <use xlink:href="images/symbol/sprite.svg#svg--sass"></use>
            </svg>
          </div>
        </div>
        <!-- End advanced slider item  -->
        <!-- Start advanced slider item  -->
        <div class="swiper-slide swiper-slide--three">
          <div class="test__badges">Slide three</div>
          <div class="test__title">Slide three</div>
          <div class="test__button">
            Test BTN
            <svg class="ico-sass">
              <use xlink:href="images/symbol/sprite.svg#svg--sass"></use>
            </svg>
          </div>
        </div>
        <!-- End advanced slider item  -->
      </div>
      <!-- Add Arrows -->
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
      <!-- Add Pagination -->
      <div class="swiper-pagination"></div>
    </div>
    <div class="test__footer">
      Footer
    </div>
  </div>
</section>

